.jarallax {
    min-height: inherit;
    height: calc(100vw / 3.65)
}

.jarallax .jarallax-img {
    height: 100%
}

#banner_container {
    background-image: url('');
    background-repeat: no-repeat;
    background-position: center;
    height: calc(100vw / 4.63);
    background-size: contain
}

.color-yellow {
    color: yellow
}

.color-uncheck {
    color: #fff
}

.heart-in-game {
    top: 35px;
    position: relative;
    float: right;
    z-index: 500;
    margin-right: 10px;
    height: 30px
}

.heart-in-game i {
    text-shadow: 0 0 5px #000
}

.fixed-sn main {
    padding-left: 0!important;
    padding-right: 0!important;
    margin-left: 0!important;
    margin-right: 0!important
}

#loading {
    display: none;
    padding-top: 140px!important
}

#main_overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.5);
    z-index: 3000;
    will-change: opacity;
    display: none
}

#games_categories {
    position: sticky;
    z-index: 1001;
    top: 51px;
    bottom: auto;
    overflow: hidden
}

#games_actions {
    position: sticky;
    z-index: 1001;
    min-height: 40px;
    bottom: auto;
    overflow: hidden;
    border-top: 0!important
}

#games_btn_group .cat-list-item {
    margin: 2px 2px 0 2px
}

#search-text {
    padding-top: -5px;
    padding-bottom: -5px;
    white-space: nowrap;
    margin-left: 0;
    margin-right: 0;
    font-size: 12px
}

#games_container_overlay {
    position: absolute;
    width: 100vw;
    height: 100%;
    min-height: 100vh;
    background-color: rgba(0,0,0,.3);
    z-index: 3000;
    will-change: opacity;
    display: none
}

#main_overlay>.preloader-wrapper {
    top: 50vh
}

#games_container_overlay>.preloader-wrapper {
    top: 20vh
}

#current_container_overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.5);
    z-index: 997;
    will-change: opacity
}

#current_container_overlay>div {
    top: calc(40%)
}

#current_container {
    display: none;
    height: calc(100vh - 50px);
    text-align: -webkit-center;
    padding-left: 0;
    padding-right: 0;
    margin-top: 0!important
}

#current_container>div {
    width: 100%;
    height: 100%
}

#current_container_game,#game_object {
    width: 100%;
    height: 100%
}

#float_logo {
    display: none;
    position: absolute;
    z-index: 9;
    text-align: center;
    right: 3px;
    top: 3px;
    max-width: 75px;
    max-height: 75px;
    filter: drop-shadow(0 0 .9rem rgb(255,255,255))
}

#casinoClient {
    width: calc(100vw - 45px);
    height: 100%
}

#current_container_menu {
    background-color: #2a2f34;
    line-height: 1;
    border-bottom: 1px solid grey;
    width: 42px;
    transition-duration: .4s
}

#current_container_menu ul {
    list-style: none;
    padding: 0
}

#current_container_menu ul li {
    border-bottom: 1px solid grey;
    padding: .8rem .6rem;
    cursor: pointer;
    color: #ccc
}

#current_container_menu_fullscreen,#current_container_menu_categories {
    font-size: 20px
}

#current_container_menu_refresh,#current_container_menu_popup {
    font-size: 20px
}

#games_container {
    padding-top: 0!important;
    padding-left: 0!important;
    padding-right: 0!important;
    text-align: center;
    min-height: 50vh
}

#games_container img {
    min-width: 120px;
    min-height: 100px;
    width: 100%;
    border-radius: 5%!important
}

#banner_container img {
    width: 100vw
}

.view {
    padding-left: .2rem!important;
    padding-right: .2rem!important;
    padding-top: 0!important;
    padding-bottom: 0!important;
    margin-top: -30px
}

.zoom:hover img {
    transform: scale(1.2);
    opacity: .5!important;
    background-color: #fff!important
}

.preloader-wrapper .spinner-green,.preloader-wrapper .spinner-green-only {
    border-color: #ff7777!important
}

.overlay .mask p i {
    font-size: 60px!important;
    color: #ff7777!important
}

.footer-name {
    position: absolute;
    font-family: Roboto Condensed;
    font-size: 12px;
    font-weight: 100;
    text-transform: uppercase;
    right: 3px;
    left: 3px;
    bottom: 7px;
    padding: 0 9px;
    text-align: left;
    color: #fffefe;
    background: hsla(0,0%,9%,.7);
    display: none
}

.zoom:hover .footer-name {
    display: none;
    right: 3px;
    left: 3px
}

.cat-list {
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    background-color: #2a2f34;
    color: #ddd;
    font-family: Roboto Condensed;
    font-size: 13px
}

.cat-list::-webkit-scrollbar {
    width: 0;
    height: 0
}

.cat-list-inside::-webkit-scrollbar {
    width: 0;
    height: 0
}

.cat-list-inside {
    padding-left: 3px;
    padding-right: 3px;
    text-align: center;
    overflow: hidden;
    max-height: 40px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.cat-list-item,.btn-list-item {
    padding: 8px 2px;
    white-space: nowrap;
    margin-top: 2px;
    margin-bottom: 2px;
    min-width: calc((100vw - 20px) / 6);
    cursor: pointer;
    text-align: center;
    background-image: linear-gradient(#333,#111);
    border-radius: 6px;
    margin-left: 0;
    margin-right: 0;
    font-size: 12px;
    max-width: 90px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}

.cat-list-item:hover,.btn-list-item:hover {
    background-image: none;
    background-color: #767272
}

.cat-list-item.maintenance {
    opacity: .2
}

.cat-list-item.active {
    color: #ff7777
}

.cat-list-item-last {
    border-right: none
}

.cat-button-down {
    cursor: pointer
}

#cat_list_search {
    width: 30px!important;
    min-width: 0;
    background-image: linear-gradient(#333,#767272)
}

#cat_list_search_2,#cat_list_more {
    width: 30px!important;
    height: 33px;
    min-width: 0;
    float: left;
    margin-top: 3px;
    margin-left: 2px;
    background-image: linear-gradient(#333,#767272)
}

#cat_list_search:hover,#cat_list_search_2:hover,#cat_list_more:hover {
    background-image: none;
    background-color: #111
}

#cat_list_more {
    float: right
}

.games_btn {
    float: left;
    margin-left: 2px
}

#games_btn_group {
    width: 350px;
    margin: auto;
    overflow: hidden;
    display: block
}

.input_txt {
    float: left;
    margin: 5px 3px 0 3px;
    height: 30px;
    line-height: inherit;
    padding: 2px 3px;
    font-size: 13px!important;
    color: #2c2c51;
    border: 1px solid rgba(128,137,150,.3);
    font-weight: 500;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px
}

.input_txt:focus-visible {
    border: 0;
    background-color: #c2c2c2;
    outline: 0
}

@media (min-width: 400px) {
    .cat-list-item {
        min-width:calc((100vw - 60px) / 6)
    }
}

@media (min-width: 720px) {
    .cat-list-item {
        min-width:calc((100vw - 46px) / 10)
    }
}

@media (min-width: 992px) {
    #games_categories {
        top:51px
    }

    .cat-list-item {
        min-width: calc((100vw - 46px) / 14)
    }
}

@media (min-width: 1300px) {
    .cat-list-item {
        min-width:calc((100vw - 70px) / 16)
    }
}

@media (min-width: 1600px) {
    .cat-list-item {
        min-width:calc((100vw - 86px) / 25)
    }
}

.button-support {
    display: inline-flex;
    height: 30px;
    background: linear-gradient(0deg, #fde500ff 0%, rgb(253, 202, 0) 100%);
    text-transform: uppercase;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: bold;
    min-width: 30px;
    border: none;
    cursor: pointer;
    color: #f2008d;
    border-radius: 5px;
    padding: 0px;
    margin-right: 10px;
}

.button-support>img {
    width: 28px;
}

.apigames-popup {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0;
    margin: 0 auto;
    background: rgb(46 39 0 / 85%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9991;
    font-family: "principal", Arial, sans-serif;
    color: #FFF;
    font-size: 13px;
}

.apigames-popup-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.apigames-popup .apigames-popup-content {
    margin: 0 auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #020711;
    max-height: calc(100vh - 32px);
    height: auto;
    max-width: 550px;
    min-width: 550px;
    min-height: 180px;
    border-radius: 20px;
    overflow: auto;
    z-index: 1;
    opacity: 0;
    transition: 0.3s;
    box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 50%);
}

@media (max-width: 560px) {
    .apigames-popup .apigames-popup-content {
        max-width: calc(100% - 20px);
        max-height: calc(100% - 20px);
        min-width: calc(100% - 20px);
        width: 100%;
        max-height: -webkit-fill-available;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.apigames-popup .apigames-popup-content-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 40px;
}

.apigames-popup .apigames-popup-content-header .close {
    width: 30px;
    position: absolute;
    margin: 0;
    padding: 0;
    right: 15px;
    top: 15px;
    color: #ffffff;
    cursor: pointer;
}

.apigames-popup .apigames-popup-content-header .close>svg {
    fill: currentcolor;
    color: white;
}

.apigames-pl20 {
    padding-left: 20px;
}

.apigames-pr20 {
    padding-right: 20px;
}
.apigames-pb20 {
    padding-bottom: 20px;
}

.gradient-title {
    font-size: 13px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    flex-direction: row;
    min-width: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
    font-weight: 700;
    display: flex;
}

.gradient-title-lateral {
    align-items: center;
    width: 100%;
    display: flex;
    margin: 7px;
}

.gradient-title-left>div {
    background: linear-gradient(270deg, rgb(255, 255, 255), rgba(0, 0, 0, 0) 80%);
}

.gradient-title-right>div {
    background: linear-gradient(90deg, rgb(255, 255, 255), rgba(0, 0, 0, 0) 80%);
}

.gradient-title-lateral>div {
    width: 100%;
    height: 5px;
}

.gradient-title-no-wrap {
    text-wrap: nowrap;
}

.modal-content-support-network {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
}

.modal-content-support-network>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

.btn-copy {
    padding-block: 1px;
    padding-inline: 6px;
    display: inline-flex;
    height: 30px;
    background: linear-gradient(0deg, rgb(152, 152, 152), white);
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: 700;
    border: none;
    cursor: pointer;
    color: black;
    border-radius: 5px;
}

.modal-content-support-network img {
    width: 20px;
    margin-right: 10px;
}

.btn-support-close {
    text-transform: uppercase;
    cursor: pointer;
    min-width: 100px;
    height: 30px;
    background: linear-gradient(0deg, #fde500ff 0%, rgb(253, 202, 0) 100%);
    justify-content: center;
    align-items: center;
    font-weight: 700;
    display: inline-flex;
    border-radius: 5px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    text-decoration: none;
    color: #000;
}

.full-width {
    width: 100%;
}

.margin-top-3em {
    margin-top: 3rem;
}

.alert {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    max-width: 80vw;
    width: 80vw;
    font-size: 12px;
    font-family: "principal", Arial, sans-serif;
}

.alert-success {
    color: #1d4e10;
    background-color: #c3ffd8;
    border-color: #46be39;
}

#success-alert, #error-alert {
    display: none;
    z-index: 9999;
    right: 0;
    margin: 60px 0 0;
    border-radius: .4rem !important;
    position: absolute;
    top: 30px;
    left: 10vw;
}

@media (max-width: 768px) {
    #success-alert, #error-alert {
        margin: 0;
    }
}